<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bop.provalayout">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="bop.provalayout.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity
            android:name="bop.provalayout.TracksListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="bop.provalayout.FileexplorerActivity"
            android:label="File Explorer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="bop.provalayout.FileChooser"
            android:label="Choose File"
            android:theme="@android:style/Theme.Holo.Light"
        >
            <action android:name="com.example.fileexplorer.FileChooser" />
        </activity>
        <activity
            android:name="bop.provalayout.DetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="bop.provalayout.WayPointsListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="bop.provalayout.WayPointDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="bop.provalayout.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="bop.provalayout.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bop.provalayout.MainActivity" />
        </activity>
        <activity
            android:name="bop.provalayout.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="bop.provalayout.LocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="bop.provalayout.FBLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="bop.provalayout.ShareActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1553731234648288"
            android:exported="true" />

        <activity android:name="bop.provalayout.WPListActivity" />
        <activity android:name="bop.provalayout.CalendarActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>